:root {
  -webkit-user-select:none;
}

/*h1 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  color: #CACACA;
}

h4 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  color: #CACACA;
}

h6 {
  font-family: 'Cutive Mono', monospace;
  margin: 0px;
  color: #CACACA;
}*/

p {
  /*font-family: 'Cutive Mono', monospace;*/
  color: #000000;
  margin: 0px;
}

body {
  background-color: #6A6A6A;
}

html, body, #container, .row {
  height: 100%;
}

/* .slider {
  /*margin-left: 43px;
  margin-right: 48px;
  width: 100%;
}

.labeltype {
  margin: 0px;
  /*text-align: left;
  font-size: 0.7vw;
  vertical-align: bottom;
}

.labelvalue {
  margin: 0px;
  /*text-align: center;
  font-size: 0.7vw;
  vertical-align: bottom;
} */

/* #open_dropdown {
  margin-left: 15vw;
} */

#panel-body4 {
  height: 12vh;
}

.dropdown.show {
  position: absolute;
  z-index: 10;
}

.panel-group {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.panel-heading {
  background-color: #6A6A6A;
  padding: 10px;
  border: 2px solid #C0C0C0;
  border-top: 0px;
}

.panel-heading:hover {
  background-color: #999999;
}

#topHeading {
  border-top: 2px solid #C0C0C0;
}

.panel-body {
  background-color: #C0C0C0;
  padding: 10px;
  border: 2px solid #C0C0C0;
  border-top: 0px;
  width: 100%;
  overflow-x: hidden;
}

.panel-title {
  margin: 0px;
}

.accordionheader {
  color: #000000;
}

.accordionheader:hover {
  text-decoration: none;
  color: #333333;
}


#sidebar {
  background-color: #333333;
  padding: 20px;
  height: 100%;
  width: 25%;
  /*min-width: 350px;*/
  resize: horizontal;
}

#mainwindow {

}

#canvas {
  width: 100%;
  /*image-rendering: smooth;
  /*border: 20px solid #FFFFFF;*/
}
